<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clients
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="clients">
        <a class="dropdown-item" href="/messages">All</a>
    </div>
</div>

<table class="table table-hover" id="messages">
    <thead>
    <th>
        id
    </th>
    <th>
        Date
    </th>
    <th>
        Hostname
    </th>
    <th>
        Message
    </th>
    </thead>
</table>
