<select class="form-control form-control-sm" id="clientsSelectMenu">
    <option value="-1">All</option>
</select>


<table class="table table-hover" id="messages">
    <thead>
    <th>
        id
    </th>
    <th>
        Date
    </th>
    <th>
        Hostname
    </th>
    <th>
        Message
    </th>
    </thead>
</table>
